@define-color cc-bg rgba(40, 40, 40, 1);
@define-color noti-border-color rgba(235, 219, 178, 0.15);
@define-color noti-bg rgb(80, 73, 69);
@define-color noti-bg-opaque rgb(60, 56, 54);
@define-color noti-bg-darker rgb(40, 40, 40);
@define-color noti-bg-hover rgb(60, 56, 54);
@define-color noti-bg-hover-opaque rgb(60, 56, 54);
@define-color noti-bg-focus rgba(60, 56, 54, 0.6);
@define-color noti-close-bg rgba(235, 219, 178, 0.1);
@define-color noti-close-bg-hover rgba(235, 219, 178, 0.15);
@define-color text-color rgb(235, 219, 178);
@define-color text-color-disabled rgb(189, 174, 147);
@define-color bg-selected rgb(124, 111, 100);
* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #b1b1b1;
}

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background: @cc-bg;
    color: @text-color;
    border-radius: 6px;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg-darker;
}
.control-center {
    background: @cc-bg;
    border-radius: 6px;
}
.control-center-list {
    background: transparent;
}
.control-center-list-placeholder {
    opacity: 0.5;
}
/*notif box*/
.notification {
    background: #282828;
    border-radius: 6px;
    margin: 3px 3px 3px 3px;
    border: none;
    padding: 5px 5px;
    box-shadow:
        0px 0.1em #1a1b26,
        0px 0px;
}

.notification-content {
    background: #282828;
    margin: 5px 5px;
}
.notification-row {
    outline: none;
    margin: 0px;
    padding: 0px;
}
.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 6px;
}
.notification-action {
    border-top: none;
    border-radius: 6px;
}
.notification-default-action:hover,
.notification-action:hover {
    color: #d5c4a1;
    background: #282828;
}
.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.notification-action:first-child {
    border-bottom-left-radius: 6px;
    background: @noti-bg;
}
.notification-action:last-child {
    border-bottom-right-radius: 6px;
    background: #1b1b2b;
}
.notification-group-close-all-button,
.notification-group-collapse-button {
    border-radius: 6px;
    padding: 0.1em;
    margin: 2px;
    min-width: 10px;
    min-height: 10px;
}

.image {
    border-radius: 6px;
    margin-right: 10px;
}
.summary {
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    color: #ebdbb2;
    text-shadow: none;
}
.time {
    font-size: 12px;
    font-weight: 600;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-right: 5px;
}
.body {
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    color: @text-color;
    text-shadow: none;
}
.close-button {
    background: #40404c;
    text-shadow: none;
    min-width: 10px;
    min-height: 10px;
    padding: 0px;
    border-radius: 6px;
    margin-top: 0.2em;
    margin-right: 0em;
    box-shadow: 0px 0px 0.8em rgba(0, 0, 0, 0.15);
}
.close-button:hover {
    box-shadow: none;
    background: #fb4934;
    transition: all 0.15s ease-in-out;
    border: none;
}

.floating-notifications {
    background: transparent;
}
.blank-window {
    background: alpha(black, 0.1);
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    background: @noti-bg-darker;
    padding: 4px 8px;
    font-size: 1.5rem;
    margin: 8px 8px 4px 8px;
    border-radius: 6px;
}
.widget-title > button {
    background: @noti-bg;
    min-width: 22px;
    min-height: 22px;
    border-radius: 6px;
    padding: 1px 12px;
    text-shadow: none;
    box-shadow: none;
}
.widget-title > button:hover {
    background: @noti-bg-darker;
}
/* DND widget */
.widget-dnd {
    background: @noti-bg-darker;
    padding: 4px 8px;
    margin: 8px 8px 4px 8px;
    font-size: 1.5rem;
    border-radius: 6px;
}
.widget-dnd > switch {
    background: @noti-bg-darker;
    font-size: initial;
    background: @noti-bg;
    box-shadow: none;
}
.widget-dnd > switch:checked {
    background: none;
}
.widget-dnd > slider:focus,
.widget-dnd > checked,
.widget-dnd > hover,
.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
    background: @text-color-disabled;
    min-width: 22px;
    min-height: 22px;
    border-radius: 6px;
    padding: 1px 1px;
    border: none;
    box-shadow: none;
    outline: none;
}

/* Label widget */
.widget-label {
    margin: 8px;
}
.widget-label > label {
    font-size: 1.1rem;
}

/* Mpris widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
.widget-mpris {
    /* The parent to all players */
    padding: 8px 0 0 0;
    margin: 8px 8px;
    margin-bottom: 0;
    border-radius: 6px;
}
.widget-mpris-player {
    padding: 15px 15px;
    margin: 5px 8px;
    background-color: @mpris-album-art-overlay;
    border-radius: 6px;
    box-shadow: 0px 0px 0.8em rgba(0, 0, 0, 0.15);
}
.widget-mpris > box > button {
    /* Change player side buttons */
    margin: 1em 0 0 0;
    padding: 0.1em;
    box-shadow: none;
    border: none;
}
.widget-mpris-player button:hover {
    /* The media player buttons (play, pause, next, etc...) */
    background: @noti-bg-hover;
    box-shadow: none;
    border: none;
}
.widget-mpris > box > button:hover {
    background: transparent;
}
.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 0.1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.widget-mpris-title {
    font-weight: 700;
    font-size: 1em;
}
.widget-mpris-subtitle {
    font-size: 1.1rem;
}
